[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
# temporarily switch to ext-tasks branch of discord.py
# discord = {git = "https://github.com/Rapptz/discord.py"}
discordtasks = {git = "https://github.com/Rapptz/discord.py",ref = "feature/ext-tasks"}
pytz = "*"
peony-twitter = "*"
polyline = "*"

[requires]
python_version = "3.7"

[scripts]
app = "python bot.py"
