[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
autopep8 = "*"
rope = "*"

[packages]
"discord.py" = "~=1.5.1"
pytz = "*"
peony-twitter = "*"
polyline = "*"
segno = "~=1.2.0"
aiofile = "~=3.1.0"

aiomysql = "*"
asyncpg = "~=0.21.0"
prettytable = "*"

[scripts]
app = "python bot.py"
